.pf-topology-pipelines__list-icon,
.pf-topology-pipelines__monitoring-icon {
  color: var(--pf-v5-global--icon--Color--light);
}

/* default status */
.pf-topology-pipelines__pill.pf-m-selected.pf-m-selectable .pf-topology-pipelines__list-icon,
.pf-topology-pipelines__pill.pf-m-selected.pf-m-selectable .pf-topology-pipelines__monitoring-icon {
  color: var(--pf-v5-global--icon--Color--dark--light);
}

/* success status */
.pf-topology-pipelines__pill.pf-m-hover.pf-m-success.pf-m-selected.pf-m-selectable g svg.pf-v5-svg.pf-topology-pipelines__list-icon,
.pf-topology-pipelines__pill.pf-m-hover.pf-m-success.pf-m-selected.pf-m-selectable g svg.pf-v5-svg.pf-topology-pipelines__monitoring-icon {
  color: var(--pf-v5-global--icon--Color--dark--light);
}


/* danger status */
.pf-topology-pipelines__pill.pf-m-hover.pf-m-danger.pf-m-selected.pf-m-selectable g svg.pf-v5-svg.pf-topology-pipelines__list-icon,
.pf-topology-pipelines__pill.pf-m-hover.pf-m-danger.pf-m-selected.pf-m-selectable g svg.pf-v5-svg.pf-topology-pipelines__monitoring-icon {
  color: var(--pf-v5-global--icon--Color--dark--light);
}
