.odh-icon-and-text {
  align-items: baseline;
  display: flex;
}
.odh-icon-and-text__icon {
  flex-shrink: 0;
  margin-right: 5px;
}
.odh-icon-flex-child {
  flex: 0 0 auto;
  position: relative;
  top: 0.125em;
}

