.odh-details-section--divide {
  padding-bottom: var(--pf-v5-global--spacer--xl);
}

.odh-project-details {
  display: flex;
  min-height: 100%;
  gap: var(--pf-v5-global--spacer--lg);

  &__project {
    background: var(--pf-v5-global--palette--blue-50);
    flex: 1;
    padding-bottom: var(--pf-v5-global--spacer--md);

    &.m-is-empty {
      justify-content: center;
    }

    &-info {
      margin: var(--pf-v5-global--spacer--3xl);
      z-index: 100;
    }

    &-background {
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  &__components {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--pf-v5-global--spacer--md);

    &__item {
      padding-bottom: var(--pf-v5-global--spacer--lg);
    }
  }

  &__card {
    border: 1.5px dashed var(--pf-v5-global--BorderColor--200);

    &:after {
      position: absolute;
      width: 48px;
      height: 4px;
      background: transparent;
      top: 0;
      left: calc(50% - 24px);
      border-radius: 4px 4px 0 0;
      content: ' ';
      rotate: 180deg;
    }

    .pf-v5-c-empty-state {
      position: relative;
    }

    .pf-v5-c-empty-state__title {
      position: absolute;
      top: var(--pf-v5-global--spacer--md)
    }

    .pf-v5-c-empty-state__header {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 24px;
    }

    .pf-v5-c-empty-state__body {
      margin-block-start: var(--pf-v5-global--spacer--xs);
    }

    .pf-v5-c-empty-state__actions > button {
      position: absolute;
      bottom: var(--pf-v5-global--spacer--md);
    }

    &.loading,
    &.error {
      .pf-v5-c-empty-state__icon {
        background: inherit;
      }
    }

    &.notebook {
      width: 40%;
      padding-bottom: var(--pf-v5-global--spacer--md);
    }

    &.pipeline {
      width: 40%;
      padding-bottom: var(--pf-v5-global--spacer--md);
    }

    &.cluster-storage {
      width: 40%;
      padding-bottom: var(--pf-v5-global--spacer--md);

    }

    &.data-connections {
      width: 40%;
      padding-bottom: var(--pf-v5-global--spacer--md);
    }

    &.m-is-clickable {
      cursor: pointer;
    }
  }

}
