$notebook-color: #C9190B;
$notebook-bg: rgba(201, 25, 11, 0.1);

$pipeline-color:  #5752D1;
$pipeline-bg: rgba(87, 82, 209, 0.1);

$cluster-storage-color: #EC7A08;
$cluster-storage-bg: rgba(236, 122, 8, 0.1);

$model-server-color: #009596;
$model-server-bg: rgba(0, 149, 150, 0.1);

$data-connection-color: #F4C145;
$data-connection-bg: rgba(244, 193, 69, 0.1);

$user-color: #4CB140;
$user-bg: rgba(76, 177, 64, 0.1);


$group-color: #0066CC;
$group-bg: rgba(0, 102, 204, 0.1);

